*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; /* 16 * 62.5 = 10px => 1rem */
}
body {
  font: 1.6rem Helvetica, Arial;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #f08040;
}
.fw {
  width: 100%;
}
.success {
  color: #00c000;
}
.error {
  color: #c00000;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: #203040;
  color: #ffff;
  align-items: center;
  padding: 0.5rem;
}
.brand h2 {
  color: #ffffff;
}
.brand h2:hover,
.nav a:hover {
  color: #f08040;
}
.nav a {
  text-decoration: none;
  padding: 0 0.5rem;
  color: #ffffff;
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #203040;
  color: #ffff;
  align-items: center;
  padding: 0.5rem;
}
/* Overlay */

.overlay {
  display: none;
  background-color: rgba(16, 16, 16, 0.5);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.overlay > div {
  background-color: #ffffff;
  border-radius: 0.5rem;
  color: black;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.8rem;
}
.overlay > div > * {
  margin: 2rem;
}
.ok-button {
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
/* products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products li {
  list-style: none;
  flex: 0 1 30rem;
  margin: 1rem;
  border-bottom: 0.2rem solid gainsboro;
  border-radius: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.product-image {
  align-self: center;
}
.product-image img {
  max-width: 28rem;
  max-height: 36rem;
}
.product-title {
  line-height: 1.3;
}
.product-brand {
  font-size: 1.3rem;
  color: gray;
}
.product-price {
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* Rating */

.rating {
  color: gold;
  font-size: 1.8rem;
}
.rating span:last-child {
  color: gray;
  font-size: 1.4rem;
}

/* Product details */

.back-link {
  padding: 2rem;
  margin-bottom: 2rem;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border: 2pxrem solid gray;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 1rem;
  width: 100%;
  max-width: 50rem;
}
.product-status {
  text-align: center;
}
.product-status p {
  font-size: 1.8rem;
}
.add-to-cart {
  margin-top: 1rem;
  padding: 1rem;
  background-color: gold;
  border: 0.2px solid grey;
  border-radius: 0.5rem;
}
.disabled {
  background-color: #a0a0a0;
}
.add-to-cart.enabled:hover {
  background-color: goldenrod;
  cursor: pointer;
}

/* Cart-Items */

.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-items {
  flex: 3 1;
  max-width: 90rem;
  margin: 0 2rem;
}
.cart-list li {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid gainsboro;
  list-style: none;
}

.cart-list li:first-child {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.cart-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item {
  display: flex;
  align-items: center;
}
.product-image-sm img {
  max-width: 10rem;
  max-height: 15rem;
}
.item-detail p {
  margin-bottom: 1rem;
}
.qty {
  border-radius: 5px;
}
.qty:hover {
  border: 1px solid cadetblue;
}
.qty,
.delete-btn {
  padding: 0 0.5rem;
  margin: 0.5rem;
}
.delete-btn {
  background: none;
  border: none;
}
.delete-btn i {
  color: red;
}
.delete-btn :hover {
  color: #c00000;
}
.subtotal-container {
  flex: 1 1;
  max-width: 60rem;
}
.subtotal {
  margin: 2rem 2rem;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 0.5rem;
}
.proceed-to-checkout {
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: gold;
  border: 0.2px solid grey;
  border-radius: 0.5rem;
  width: 100%;
}
.proceed-to-checkout:hover {
  background-color: goldenrod;
  cursor: pointer;
}

/* signin Form */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 32rem;
  padding: 2rem 3rem;
  border: 0.2rem solid gray;
  background-color: #f0f0f0;
  border-radius: 0.8rem;
}
.form-items li {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
li label {
  font-size: 1.8rem;
}
li input {
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 0.2rem solid grey;
  border-radius: 0.5rem;
  /* width: 100%; */
}
.signin-button {
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: gold;
  border: 0.2rem solid grey;
  border-radius: 0.5rem;
  width: 100%;
}
.signin-button:hover {
  background-color: goldenrod;
  cursor: pointer;
}
/* Register */
.register-button {
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: gold;
  border: 0.2rem solid grey;
  border-radius: 0.5rem;
  width: 100%;
}
.register-button:hover {
  background-color: goldenrod;
  cursor: pointer;
}
/* profile */
.signout-button {
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.2rem solid grey;
  border-radius: 0.5rem;
  width: 100%;
}
.signout-button:hover {
  background-color: #707070;
  cursor: pointer;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
}
.profile-info {
  flex: 1 1 20rem;
}
.profile-orders {
  flex: 3 1 60rem;
  margin-left: 1rem;
}
.profile-orders h2 {
  margin-bottom: 2rem;
}
table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: gainsboro;
}
td {
  padding: 0.5rem;
}
/* Checkout-steps */

.checkout-steps {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  width: 35rem;
}
.checkout-steps > div {
  border-top: 0.3rem solid #c0c0c0;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top-color: #f0a040;
  color: #f0a040;
}
/* Orders */

.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.order h3 {
  padding-bottom: 1rem;
}
.order-info {
  flex: 3 1 60rem;
}
.order-info > div {
  border: 0.1rem solid #c0c0c0;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  max-width: 90rem;
}
.order-info > div > div {
  margin-bottom: 1rem;
}
.order-action {
  flex: 1 1 20rem;
  border: 0.1rem solid #c0c0c0;
  border-radius: 0.5rem;
  padding: 1rem;
  /* margin-top: 1rem; */
}
.order-action > ul {
  list-style: none;
}
.order-action li {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.order-action .total {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
